.navlinks-center {
  padding: 0 12px;
  display: flex;
}
.navlinks-center > * {
  padding: 10px 12px;
}
.pending > *:hover, .inactive> * :hover {
  color: #7c3aed;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button {
  font-size: 14px;
  font-weight: 600;
}
button:first-child {
  /* border-top-right-radius: 30px;
  border-bottom-right-radius: 30px; */
}
.active {
  color: blueviolet;
}
.active,
.pending,
.inactive {
  display: flex;
  align-items: center;
}
.menu-horizontal>li{
  padding: 0 0;
}
/* In your navbar.css file */
.dropdown-content {
  position: absolute; /* Make sure it's positioned absolutely */
  z-index: 9999;      /* Ensure a high z-index so it stays on top */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Optional styling */
}
/* Add or modify this in your Banner CSS */
.banner {
  position: relative;
  z-index: 1; /* Set this lower than the dropdown */
}
