@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
  font-family: 'Bricolage Grotesque', sans-serif;
}

.bricolage-grotesque {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-style: normal;
}
